body {
	margin-top:15px;
	font-family: 'Roboto Mono', serif ;
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none; 
	background: #cbe7d1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DAD299 , #cbe7d1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DAD299 , #cbe7d1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}	

h1 {
	font-family: 'Nobile', serif;
	font-weight:700;
	font-size:80px;
	text-align:center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

/*============================
	GAME CONTAINER AND TILES
============================*/
.game-container {
	width:405px;
	border-radius:100%;
	background-color:#0d0d0d;
	border:18px solid #0d0d0d;
	position:relative;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/*color locations*/
.left {
	padding-right:9px;
	padding-left:0px;
}
.right{
	padding-right:0px;
	padding-left:9px;
}
.top {
	padding-bottom:9px;
}
.bottom {
	padding-top:9px;
}

.color {
	height:175px;
	-webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.2);
}

#green {border-radius: 100% 0px 0 0;}
#red {border-radius: 0px 100% 0 0;}
#yellow {border-radius: 0 0px 0 100%;}
#blue {border-radius: 0px 0 100% 0;}

/*background colors*/
.green-bg { background-color: #186839; }
.red-bg { background-color: #cc2b19; }
.yellow-bg { background-color: #c29d0a; }
.blue-bg { background-color: #1c567d; }
/*background colors on click*/
.green-bg-active { background-color:#2fd072; }
.red-bg-active { background-color:#eb6e60; }
.yellow-bg-active { background-color:#f4cf3e; }
.blue-bg-active { background-color:#2e90d1; }


/*==================
	CENTER CONTENT
==================*/
#center {
	height:175px;
	width:175px;
	border-radius:100%;
	background-color: #ece9df;
	position: absolute;
	border: 9px solid #0d0d0d;
	left:94px;
	top:94px;
	text-align:center;
	font-size:12px;
}

.center-display {
	background-color:#2e050b;
	margin: 0 auto;
	border-radius:2px;
	border:2px solid #333;
	color: #f10e2c;
	font-family: 'Roboto Mono', serif ;
	width:74px;
}

#countDisplay{
	font-size:40px;
	background-color:#2e050b;
	width:74px;
	height:49px;
	line-height:45px;
	margin-top:20px;
}
#turnDisplayContainer {
	font-size:16px;
	margin-top:10px;
	height:26px;
}

#start {
	position: absolute;
	bottom:60px;
	left:8px;
	color:#f2f2f2;
	background:#746c7a;
	padding:4px 8.5px;
	border-radius:100%;
	border-bottom:2px solid #333;
	cursor:pointer;
}

/*Strict Section*/
#strictContainer {
	position:absolute;
	bottom:49px;
	right:8px;
	font-size:8px;
}
#strict {
	width:26px;
	padding-top:24px;
	background:#5097af;
	border-radius:100%;
	border-bottom:2px solid #333;
	margin:0 auto;
	margin-bottom:2px;
	cursor:pointer;
}
#strictLightDisplay {
	width:8px;
	height:8px;
	background-color:#2e050b;
	border-radius:100%;
	margin:0 auto;
	margin-bottom:5px;
	border: 1px solid #333;
	position:absolute;
	top:55px;
	right:19px;
	
}

#start:active, #strict:active {
	border-bottom:none;
}

/*==================
	FOOTER
==================*/
footer {
	margin-top:40px;
	text-align:center;
	font-family: 'Nobile', serif;
}

/*==================
	MEDIA QUERIES
==================*/
@media (max-width:480px){
	
	body{
		margin-top:8px;
	}

	h1{
		font-size:50px;
	}

	.game-container {
		width:275px;
	}

	.color {
		height:110px;
	}

	#center {
		left:30px;
		top:268px;
	}

	footer {
		margin-top:210px;
	}
}